// Importing Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Color Palette
$primary: #1a73e8;
$secondary: #ffffff;
$accent: #ff5722;
$background: #f4f4f4;
$text: #000000;

// Section Specific Colors
$specs-background: #003366;
$specs-accent: #66ccff;
$code-background: #006600;
$code-accent: #99ff99;
$payload-background: #cf4200;
$payload-accent: #ffcc99;

// Typography
body {
  font-family: 'Roboto', sans-serif;
  color: $text;
  background-color: $background;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }
}