// Dashboard.module.scss
@import '../../styles.scss'; // Import global styles

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; // Center the content horizontally
}

.buttonContainer {
  display: flex;
  margin-top: 20px;
  gap: 20px; // Adjust as needed
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
      background-color: lighten($secondary, 10%); // Lighten the background color by 10% on hover
    }
  }
    
  .specsButton {
    background-color: $specs-background;
    color: $specs-accent;
  }
  
  .codeButton {
    background-color: $code-background;
    color: $code-accent;
  }
  
  .payloadButton {
    background-color: $payload-background;
    color: $payload-accent;
  }
}